.container {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35rem;
    height: 50vh; 
    margin: 0 auto; /* Centre le conteneur horizontalement si le body n'est pas en Flexbox */
    margin-top: 10rem;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tab {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.tab.active {
    border-bottom: 2px solid #007bff;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input[type="password"] {
    letter-spacing: 2px;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}