@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;600&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}
header {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

body {
    margin-top: 3.2rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.logo {
    max-width: 5rem;
    margin-right: 20px;
    object-fit: contain;
}

nav a {
    padding: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
.inscription {
    background-color: #b3303d;
    color: white;
}

.inscription-centre {
    position: absolute;
    top: 30rem;
    left: 10rem;
    background-color: #b3303d;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 24px;
    font-weight: 500;
}